# docker-compose.yml.j2 (Template File)
version: '3.8'

services:
  elasticsearch:
    build:
      context: ./docker
      dockerfile: Dockerfile.elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - xpack.security.authc.api_key.enabled=true
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    build:
      context: ./docker
      dockerfile: Dockerfile.kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_SERVICEACCOUNTTOKEN={{ KIBANA_SERVICE_TOKEN }}
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

volumes:
  esdata: